.carousel-container {
    margin-bottom: 50px;
}
.carousel__item {
    margin: 0!important;
}
.second-item {
    margin-right: 0!important;
}
.carousel__icon {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}
.carousel {
    position: relative;
    text-align: center;
    box-sizing: border-box;
}
.about-slider-container {
    height: 350px;
}

.slider-title {
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.carousel * {
    box-sizing: border-box;
}

.carousel__track {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}

.carousel__viewport {
    overflow: hidden;
}
:root {
    /* Colors */
    --carousel-color-first: #094754;
    --carousel-color-second: #278077;
    --carousel-color-white: #ffffff;

    /* Navigation */
    --carousel-nav-width: 30px;
}.carousel__prev,
 .carousel__next {
     background-color: var(--carousel-color-first);
     border-radius: var(--carousel-nav-width);
     width: var(--carousel-nav-width);
     height: var(--carousel-nav-width);
     text-align: center;
     font-size: calc(var(--carousel-nav-width) * 2 / 3);
     padding: 0;
     color: var(--carousel-color-white);
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     border: 0;
     cursor: pointer;
 }

.carousel__prev {
    top: 50%;
    left: 1%;
    transform: translate(-50%, -50%);
}

.carousel__next {
    top: 50%;
    right: 1%;
    transform: translate(50%, -50%);
}
.carousel__pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}
.carousel__pagination-button {
    margin: 5px;
    width: 10px;
    height: 5px;
    border: 0;
    cursor: pointer;
    background-color: var(--carousel-color-second);
}

.carousel__pagination-button--active {
    background-color: var(--carousel-color-first);
}
.carousel__slide {
    scroll-snap-stop: auto;
    flex-shrink: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    .about-slider-container {
        height: 200px;
    }

}
@media screen and (max-width: 588px) {
    .about-slider-container {
        height: 160px;
    }

}
@media screen and (max-width: 575px) {

    .carousel__next,.carousel__prev {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .about-slider-container {
        height: 140px;
    }

}
