<template>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                <div class="heading-block center border-bottom-0 mb-0">
                    <h1>{{ t('booking.book') }}</h1>
                    <span>{{ t('booking.bookInfo') }}</span>
                </div>

            </div>
            <div class="section mb-0 parallax skrollable skrollable-between"
                 data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px 200px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="d-none d-lg-block imagePart" data-height-xl="413">
                                <img src="../../assets/doctor.png" alt="appointment Image">
                            </div>
                        </div>

                        <div class="form-widget col-lg-7">
                            <div class="form-result"></div>

                            <form @submit="getFormData($event)" class="row mb-0" id="template-medical-form"
                                  name="template-medical-form" novalidate="novalidate">
                                <div class="col-md-8 form-group">
                                    <label for="template-medical-name"
                                           :class="{'validation-error' : !validatedForm.fullName }">{{
                                            t('booking.name')
                                        }}:*</label>
                                    <input type="text" id="template-medical-name" name="template-medical-name"
                                           class="form-control not-dark required" v-model="fullName">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="template-medical-appoint-date"
                                           :class="{'validation-error' : !validatedForm.bookingDate }">{{
                                            t('booking.aDay')
                                        }}:*</label>
                                    <v-date-picker v-model="dateBooking"
                                                   mode="date"
                                                   :masks="masks"
                                                   is-required
                                                   :locale="locale"
                                                   :disabled-dates='{ weekdays: [] }'
                                                   :min-date='dateBooking'
                                    >
                                        <template v-slot="{ inputValue, inputEvents }">
                                            <input id="template-medical-appoint-date"
                                                   class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300 form-control not-dark"
                                                   :value="inputValue"
                                                   v-on="inputEvents"
                                                   placeholder="DD/MM/YYYY"
                                            />
                                        </template>
                                    </v-date-picker>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-md-12 form-group">
                                    <label for="template-medical-email"
                                           :class="{'validation-error' : !validatedForm.email }">{{
                                            t('booking.email')
                                        }}:*</label>
                                    <input type="email" id="template-medical-email" name="template-medical-email"
                                           class="form-control not-dark required" v-model="email">
                                </div>
<!--                                <div class="col-md-4 form-group">-->
<!--                                    <label for="template-medical-dob"-->
<!--                                           :class="{'validation-error' : !validatedForm.bDay }">{{-->
<!--                                            t('booking.bDay')-->
<!--                                        }}:</label>-->
<!--                                    <v-date-picker v-model="birthDay"-->
<!--                                                   mode="date"-->
<!--                                                   :masks="masks"-->
<!--                                                   is-required-->
<!--                                                   :locale="locale"-->
<!--                                                   :max-date="birthDay"-->
<!--                                    >-->
<!--                                        <template v-slot="{ inputValue, inputEvents }">-->
<!--                                            <input id="template-medical-dob"-->
<!--                                                   class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300 form-control not-dark"-->
<!--                                                   :value="inputValue"-->
<!--                                                   v-on="inputEvents"-->
<!--                                            />-->
<!--                                        </template>-->
<!--                                    </v-date-picker>-->
<!--                                </div>-->
                                <div class="w-100"></div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-12 form-group">
                                            <label for="template-medical-phone"
                                                   :class="{'validation-error' : !validatedForm.phone }">{{
                                                    t('booking.phone')
                                                }}:*</label>
                                            <input type="text" id="template-medical-phone" name="template-medical-phone"
                                                   class="form-control not-dark required" v-model="phone">
                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="template-medical-service"
                                                   :class="{'validation-error' : !validatedForm.service }">
                                                {{ t('booking.service') }}:*</label>
                                            <select id="template-medical-service" class="form-control"
                                                    v-model="service_id">
                                                <option v-for="(service,index) in services" :key="index" :selected="hash === service['hash']"
                                                        :value="service['id']">
                                                    {{ service[getPreferredLanguageFiled('title')] }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 form-group">
                                    <label for="template-medical-message"
                                           :class="{'validation-error' : !validatedForm.message }">{{
                                            t('booking.message')
                                        }}:</label>
                                    <textarea v-model="message" id="template-medical-message"
                                              name="template-medical-message"
                                              class="form-control not-dark required" cols="30" rows="5"></textarea>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-12 form-group text-right appointment-btn">
                                    <button class="button button-rounded backgroundColorFirst m-0" type="submit"
                                            value="submit">{{ t('booking.confirm') }}
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import {defineComponent, reactive, ref, getCurrentInstance, onMounted } from 'vue';
import {useI18n} from "vue-i18n";
import {RegExpList} from "../../helpers/regularExpressions";
import endpoint from "../../request/endpoints"
import {AppErrorTimeOut, AppToasterClasses} from "../../constants/project";
import {DatePicker} from 'v-calendar';
import getPreferredLanguageFiled from "../../helpers/getPreferredLanguageFiled";
import {useRoute} from "vue-router";
import metaTags from "../../helpers/metaTags";

export default defineComponent({
    name: "AppointmentComponent",
    components: {
        DatePicker,
    },
    setup() {
        const {t, locale} = useI18n();
        const $toast = getCurrentInstance().ctx.$toast;
        const route = useRoute();
        const form = reactive({});
        const validatedForm = reactive({
            'fullName': true,
            'email': true,
            'phone': true,
            'bDay': true,
            'bookingDate': true,
            'message': true,
            'service': true,
        });
        const masks = {
            input: ['YYYY-MM-DD'],
        };
        const dateBooking = ref(new Date(new Date().setDate(new Date().getDate())));
        const birthDay = ref(new Date(new Date().setFullYear(new Date().getFullYear() - 16)));
        const email = ref(null);
        const fullName = ref(null);
        const phone = ref(null);
        const message = ref(null);
        const services = ref([]);
        const service_id = ref(0);
        const img =  ref(window.location.origin + '/images/doctor.png');
        const fullUrl =  ref(window.location.origin + route.fullPath);
        const hash = ref(route.params.hash);
        function validateFormFunc(form) {
            let accessAllow = true;
            validatedForm.fullName = form.fullName && form.fullName.length >= 3;
            validatedForm.email = RegExpList.email.test(form.email);
            validatedForm.phone = RegExpList.phone.test(form.phone) && form.phone.length <= 15
            validatedForm.bDay = true;
            validatedForm.bookingDate = true;
            validatedForm.message = form.message ? form.message.length > 4 : true;
            validatedForm.service_id = services.value.find(service => form.service_id === service.id)
            for (let key in validatedForm) {
                if (!validatedForm[key]) {
                    accessAllow = false;
                }
            }
            return accessAllow;
        }

        function getFormData(e) {
            e.preventDefault();
            form.fullName = fullName.value;
            form.email = email.value;
            form.phone = phone.value;
            form.bDay = birthDay.value;
            form.bookingDate = dateBooking.value;
            form.message = message.value;
            form.service_id = service_id.value;
            const isValidated = validateFormFunc(form);
            if (isValidated) {
                requestFormData(form, e)
            } else {
                resetValidationError();
            }
        }

        function requestFormData(form, e) {
            __request.post(endpoint.Booking, form).then(res => {
                if (res.status === 201) {
                    $toast.success(t('blogPart.subscribeSuccess'));
                    email.value = fullName.value = phone.value = message.value = null;
                } else {
                    $toast.warning(res.statusText)
                }
            })
        }

        function resetValidationError() {
            setTimeout(() => {
                for (let key in validatedForm) {
                    validatedForm[key] = true;
                }
            }, AppErrorTimeOut)
        }

        function fetchServiceList() {
            __request.get(endpoint.SERVICES).then(res => {
                services.value = res.data;
                setServiceId();
            })
        }

        function setServiceId() {
            if (route.params.hash && services.value.length) {
                const service = services.value.find(service => service.hash === route.params.hash);
                service_id.value = service ? service['id'] : services.value[0]['id'];
            } else {
                service_id.value = services.value[0]['id'];
            }
        }

        onMounted(() => {
            fetchServiceList();
            metaTags(fullUrl.value,t('booking.bookInfo'),t('booking.book'), img.value);
        })

        return {
            t,
            getFormData,
            validatedForm,
            dateBooking,
            birthDay,
            locale,
            email,
            service_id,
            fullName,
            phone,
            message,
            masks,
            services,
            getPreferredLanguageFiled,
            hash,
        }
    }
})
</script>

<style scoped>
.heading-block h1 {
    font-size: 1.75rem;
}

.section {
    background-position: 0 1.59272px;
}

.imagePart {
    position: relative;
    height: 413px;
}

.imagePart img {
    position: absolute;
    bottom: -65px;
}

.validation-error {
    color: red;
}

.validation-error + input, .validation-error + textarea {
    border: 1px solid red;
}
@media screen and (max-width: 575px) {
   .appointment-btn {
       text-align: center!important;
       margin-top: 30px;
   }

}
</style>
