<template>
    <div class="section m-0">
        <div class="container clearfix">
            <div
                data-aos="fade-up"
                data-aos-anchor-placement="top-center"
                data-aos-delay="20"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-once="false"
                class="heading-block center border-bottom-0 bottommargin-lg"
            >
                <h3>{{ t('booking.question') }}</h3>
                <span>{{ t('booking.questionDescription') }}</span>
            </div>
            <div id="faqs" class="faqs row">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div v-for="(question,index) in questions" :key="index"
                             :data-aos="aosIndexAnimation(index)"
                             data-aos-delay="20"
                             data-aos-duration="1000"
                             data-aos-easing="ease-in-out"
                             data-aos-once="false"
                             data-aos-anchor-placement="top-center"
                             class="col-12 col-md-4">
                            <h4><strong class="color">{{ t('booking.q') }}.</strong>
                                {{ question[getPreferredLanguageFiled('title')] }}</h4>
                            <p>{{ question[getPreferredLanguageFiled('desc')] }}</p>

                            <div class="line line-sm"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {defineComponent, onMounted, ref} from "vue"
import {useI18n} from "vue-i18n";
import endpoint from "../../request/endpoints/index.js"
import getPreferredLanguageFiled from "../../helpers/getPreferredLanguageFiled";

export default defineComponent({
    name: "QuestionComponent",
    setup() {
        const {t} = useI18n();
        const questions = ref([]);

        function getQuestions() {
            __request.get(endpoint.APPOINTMENT_QUESTIONS).then(res => {
                questions.value = res.data
            })
        }

        function aosIndexAnimation(index) {
            if (index % 3 === 0) {
                return 'fade-right'
            } else if (index % 1 === 0 && index % 2 !== 0) {
                return 'zoom-in'
            } else {
                return 'fade-left'
            }

        }

        onMounted(() => {
            getQuestions();
        })
        return {
            t,
            questions,
            getPreferredLanguageFiled,
            aosIndexAnimation
        }
    }
})
</script>

<style scoped>

</style>
