<template>
    <show-ads></show-ads>
    <top-bar></top-bar>
    <menu-component :fix-top="allowAction" @emitNavbarHeight="getNavbarOffset"></menu-component>
    <router-view></router-view>
    <loader></loader>
    <face-book-chat></face-book-chat>
    <footer-component></footer-component>
    <page-to-top :show-top-button="allowAction"></page-to-top>
</template>

<script>
import {useI18n} from "vue-i18n";
import {defineComponent, ref, onMounted} from "vue";
import PageToTop from "./components/global/PageToTop"
import FaceBookChat from "./components/global/FaceBookChat";
import TopBar from "./components/global/TopBar";
import Loader from "./components/global/Loader";
import FooterComponent from "./components/global/FooterComponent";
import moment from "moment";
import MenuComponent from "./components/global/MenuComponent";
import ShowAds from "./components/global/ShowAds";

export default defineComponent({
    name: "App",
    components: {
        MenuComponent,
        TopBar,
        PageToTop,
        FaceBookChat,
        Loader,
        FooterComponent,
        ShowAds,
    },
    setup() {
        const {t, d, locale} = useI18n();
        const isLoading = ref(window.__preloader);
        const allowAction = ref(false);
        const navbarOffset = ref('');

        function getNavbarOffset(arg) {
            navbarOffset.value = arg + 'px';
        }

        function detectWindowScroll() {
            window.addEventListener('scroll', () => {
                if (window.scrollY > 100) {
                    allowAction.value = true;
                    document.body.style.paddingTop = navbarOffset.value
                } else {
                    allowAction.value = false;
                    document.body.style.paddingTop = '0'
                }
            })
        }

        moment.locale(locale.value === "hy" ? "hy-am" : locale.value)
        onMounted(() => {
            detectWindowScroll()
        })
        return {
            isLoading,
            t,
            d,
            locale,
            allowAction,
            getNavbarOffset,
        }
    },
})
</script>

<style scoped>
</style>
