<template>
    <router-link :to="{name: 'currentService', params: {hash : service['hash']}}">
    <div class="card"
         :data-aos="index % 2 === 0?'fade-right':'fade-left'"
         data-aos-delay="30"
         data-aos-duration="1000"
         data-aos-easing="ease-in-out"
         data-aos-once="false"
    >
        <div class="img-avatar">
            <img src="../../assets/logo/logo.svg" alt="Logo">
        </div>
        <div class="card-text">
            <div class="portada" :style="{'background-image': 'url(' + img + ')'}">

            </div>
            <div class="title-total">
<!--                <div class="title"><router-link class="title-card-router" :to="{name: 'currentService', params: {hash : service['hash']}}">{{t('blogPart.readMore')}}</router-link></div>-->
                <h3>{{ service[getPreferredLanguageFiled('title')] }}</h3>

                <div class="desc colorFirst">{{ service[getPreferredLanguageFiled('desc')] }}</div>
            </div>
        </div>
    </div>
    </router-link>
</template>

<script>
import {defineComponent} from "vue";
import {useI18n} from "vue-i18n";
import getPreferredLanguageFiled from "../../helpers/getPreferredLanguageFiled";
import imageUrlCorrector from "../../helpers/imageUrlCorrector";
import {assetUrl} from "../../constants/project";

export default defineComponent({
    name: "CardComponent",
    props: {
        service: {
            type: Object,
            required: true,
        },
        index: {
            type: Number,
            required: true
        }
    },
    setup(props) {
        const { t } = useI18n();
        const img = assetUrl + imageUrlCorrector(props.service.image)
        return {
            t,
            getPreferredLanguageFiled,
            imageUrlCorrector,
            img,
        }
    }
})
</script>

<style scoped>
.title-card-router {
    padding: 10px 14px;
    background: #278077;
    border-radius: 8px;
    color: #ffffff;
}
.card {
    background: #fff;
    box-shadow: 0 10px 24px rgba(34, 35, 58, 0.5);
    width: 420px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

.card h3 {
    margin: 0;
    padding: 0 0.2rem 0 1.4rem;
    width: 260px;
    overflow:hidden;
    /*white-space:nowrap;*/
    word-break: break-word;
    color: #0c5460!important;
    font-size: 1.4rem;
}

.card .title {
    padding: 1rem;
    text-align: right;
    font-weight: bold;
    font-size: 12px;
}

.card .desc {
    padding: 0.5rem 1rem;
    font-size: 12px;
    max-height: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
}

.card svg {
    width: 85px;
    height: 85px;
    margin: 0 auto;
}

.img-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 6px solid white;
    background-image: linear-gradient(-60deg, #278077 0%, #ffffff  50%, #278077 100%);
    top: 15px;
    left: 85px;
}

.card-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.title-total {
    padding: 2.5em 1em 1em 1em;
}

path {
    fill: white;
}

.img-portada {
    width: 100%;
}

.portada {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /*background-image: url("https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg");*/
    background-position: bottom center;
    background-size: cover;
}
.title-card-router:hover {
    animation: bg-wave 2s ease-out infinite;
}
@keyframes bg-wave {
    0% {
        background-position-x: 80%;
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        background-position-x: 0;
        opacity: 0;
    }
}
@media only screen and (max-width: 600px) {
    .card {
        width: 320px;
    }
    .card h3 {
        width: 200px;
        font-size: 1.35rem;
    }
    .img-avatar {
        left: 38px;
    }
}
</style>
