@import "./libs/index.css";
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Playfair+Display:wght@500&family=Roboto+Slab&family=Rubik:ital,wght@1,800&display=swap');

*:not('.notFoundBase') {
    font-family: 'Orelega One', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
}

