<template>
    <div class="clearfix post-grid grid-container row justify-content-center m-3">
        <div class="rotation_fluid d-flex d-sm-none">
            <i class="icon-phone2 rotation_fluid_phone"></i>
            <p class="rotation_fluid_message">
                {{ t('rotateText') }}
            </p>
        </div>
        <div class="col-12 general-dashboard d-none d-sm-block">
            <div class="row justify-content-end">
                <div class="col-12 col-md-8">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row justify-content-end title-content">
                                <div
                                    class="col-2 justify-content-start col-md-2 col-sm-2 d-flex justify-content-center">
                                    <h2 class="font-weight-bold text-left price-title">{{ t('pricePage.price') }}</h2>
                                </div>
                                <div class="col-6 justify-content-center col-md-2 col-sm-3 d-flex justify-content-end">
                                    <h2 class="font-weight-bold text-left price-title">{{ t('pricePage.sale') }}</h2>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 lab-cost-row scroll-container" id="buttonsSide">
                    <div class="row lab-cost-buttons" v-for="(service,index) in services" :key="index"
                         @click="selectCurrentService($event,service['id'])">
                        <div class="col-10 ">
                            <a class="btn btn-outline-success-custom price-btn"
                               :id="`serviceCost${service['id']}`"
                               role="button" aria-expanded="false"
                               aria-controls="multiCollapseExample1"
                            >
                                {{ service[getPreferredLanguageFiled('title')] }}
                            </a>
                        </div>
                        <div :id="`nextElementSibling${service['id']}`"
                             class="btn-outline-success-custom-borderline col-1 col-md-2 float-left float-md-right">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 lab-cost-row scroll-container" id="dataSide">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item lab_cost_list_division" v-for="(priceList, index) in prices"
                            :id="`priceCost${priceList['id']}`" :key="index">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" v-for="(price , i) in priceList['prices']" :key="i">
                                    <div class="row">
                                        <div class="col-5 col-sm-6"><p class="text-to-low">
                                            {{ price[getPreferredLanguageFiled('title')] }}</p></div>
                                        <div class="col-3 col-sm-3">
                                            <router-link
                                                :to="{name : 'appointment', params: { hash: priceList['hash'] }}"
                                                class="btn btn-custom-button seeMoreButton"
                                                data-id="5">{{ t('bookAppointment') }}
                                            </router-link>
                                        </div>
                                        <div class="col-2 col-sm-2"><p class="font-weight-bold"
                                                                       :class="{' line-through': price['sale']}">
                                            {{ price['price'] }}</p>
                                        </div>
                                        <div class="col-2 col-sm-1"><p class="font-weight-bold">
                                            {{ price['sale'] ? price['sale'] : '' }}</p></div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {defineComponent, onMounted, ref, inject} from "vue"
import {useI18n} from "vue-i18n";
import endpoint from "../../request/endpoints";
import getPreferredLanguageFiled from "../../helpers/getPreferredLanguageFiled";

export default defineComponent({
    name: "PriceDashboard",
    setup() {
        const {t} = useI18n();
        const services = ref([]);
        const prices = ref([]);

        async function fetchServiceList() {
            __request.get(endpoint.SERVICES).then(res => {
                services.value = res.data;
            })
        }

        async function fetchPriceList() {
            __request.get(endpoint.PRICE_LIST).then(res => {
                prices.value = res.data;
            })
        }

        async function selectCurrentService(e, id) {
            //
            await document.querySelectorAll('.lab-cost-buttons').forEach(element => {
                const divider = element.getElementsByClassName('btn-outline-success-custom-borderline')[0];
                const button = element.getElementsByClassName('btn btn-outline-success-custom')[0];
                divider.classList.remove('lab-cost-buttons-border')
                button.classList.remove('selected-price-button')
            })
            await document.querySelectorAll('.lab_cost_list_division').forEach(element => {
                element.classList.remove('selected-price-divider-box')
            })
            document.querySelector(`#nextElementSibling${id}`).classList.add('lab-cost-buttons-border');
            document.querySelector(`#serviceCost${id}`).classList.add('selected-price-button');
            document.querySelector(`#priceCost${id}`).classList.add('selected-price-divider-box');
            const parentElem = document.getElementById('dataSide');
            const targetElem = document.getElementById(`priceCost${id}`);
            parentElem.scroll({
                left: targetElem.offsetLeft,
                top: targetElem.offsetTop
            })
        }

        onMounted(async () => {
            await fetchServiceList();
            await fetchPriceList();
        })
        return {
            t,
            services,
            prices,
            getPreferredLanguageFiled,
            selectCurrentService,
        }
    }

})

</script>

<style scoped>
@import '../../../css/price/price.css';

.line-through {
    text-decoration: line-through;
}
</style>
