<template>
    <section id="content">
        <div class="content-wrap">
            <about-slider></about-slider>
            <about-description :title="t('about')" :text="text"></about-description>
            <div class="col-12">
                <Timing></Timing>
            </div>
            <contact-doctor></contact-doctor>
        </div>
    </section>
</template>

<script>
import {defineComponent, ref, onMounted} from "vue";
// If you are using PurgeCSS, make sure to whitelist the carousel CSS classes
import ScrollParallax from 'vue3-parallax/src/components/ScrollParallax.vue';
import CarouselComponent from "../components/global/CarouselComponent";
import Timing from "../components/contacts/Timing";
import AboutDescription from "../components/about/AboutDescription";
import AboutSlider from "../components/about/AboutSlider";
import ContactDoctor from "../components/doctor/ContactDoctor";
import {useI18n} from "vue-i18n";
import endpoint from "../request/endpoints";
import getPreferredLanguageFiled from "../helpers/getPreferredLanguageFiled";
import smoothScrollUp from "../helpers/smoothScrollUp";
export default defineComponent({
    name: "About",
    components: {
        AboutSlider,
        AboutDescription,
        Timing,
        CarouselComponent,
        ScrollParallax,
        ContactDoctor,
    },
    setup() {
        const {t} = useI18n();
        const text = ref('')

        function getAboutData(){
            __request.get(endpoint.ABOUT).then(res => {
                const data = res['data'];
                text.value = data[getPreferredLanguageFiled('about')];
            })
        }
        onMounted(() => {
            getAboutData();
            smoothScrollUp();
        })
        return {
            t,
            text,
        }
    }
})
</script>

<style scoped>
.carousel {
    height: 500px;
    background-color: unset;
    background-position: center;
    background-repeat: no-repeat;
}

:deep(.carousel__prev) {
    left: 3%;
    background: #094754;
}

:deep(.carousel__next) {
    right: 3%;
    background: #094754;
}

</style>
