<template>
    <section id="content">
        <div class="content-wrap">
            <appointment-component></appointment-component>
            <question-component></question-component>
            <contact-doctor></contact-doctor>
        </div>
    </section>
</template>

<script>
import {defineComponent, onMounted} from "vue";
import ContactDoctor from "../components/doctor/ContactDoctor";
import QuestionComponent from "../components/appointment/QuestionComponent";
import AppointmentComponent from "../components/appointment/AppointmentComponent";
import smoothScrollUp from "../helpers/smoothScrollUp";
export default defineComponent({
    name: "Appointment",
    components: {
        ContactDoctor,
        QuestionComponent,
        AppointmentComponent,
    },
    setup() {

        onMounted(() => {
            smoothScrollUp(40);
        })
        return {

        }
    }
})
</script>

<style scoped>

</style>
