<template>
    <page-dashboard :title="t('blogTitle')" :description="t('blogDescription')"></page-dashboard>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix post-grid row grid-container justify-content-center container-for-blog">
                <left-aside-menu @selectedCategoryIdEmitter="getEmittedCategoryAndFetchForBlog"></left-aside-menu>
                <!-- Posts
                ============================================= -->
                <div
                    class="post-grid row grid-container justify-content-around mb-0 has-init-isotope col-12 col-md-8">
                    <div class="entry col-12 col-sm-6 col-md-6 col-xl-4" v-for="(post,index) in posts" :key="index">
                        <div class="grid-inner">
                            <div class="entry-image">
                                <img :src="assetUrl + imageUrlCorrector(post.image)" alt="Standard Post with Image">
                            </div>
                            <div class="entry-title">
                                <h2 class="colorFirst">{{ post[getPreferredLanguageFiled('title')] }}</h2>
                                <h6>{{ post[getPreferredLanguageFiled('excerpt')] }}</h6>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li><i class="icon-calendar3"></i> {{ moment(post['created_at']).format('ll') }}
                                    </li>
                                </ul>
                            </div>
                            <div class="entry-content">
                                <a @click="showCurrentBlog(post.id)"
                                             class="button button-rounded button-small m-0 ">{{
                                        t('blogPart.readMore')
                                    }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #posts end -->
            </div>
            <div class="col-12 grid-container mt-5" v-if="pageCount > 1">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><span class="page-link" :class="{'disable-pagination': page <= 1}"
                                                    @click="nextAndPrevPage('-1')">{{ t('pagination.prev') }}</span>
                        </li>
                        <li class="page-item" v-for="(count, index) in pageCount" :key="index"><span class="page-link"
                                                                                                     :class="{'backgroundColorFirst': count === page}"
                                                                                                     @click="nextAndPrevPage(count)">{{ count }}</span></li>
                        <li class="page-item"><span class="page-link"
                                                    :class="{'disable-pagination': page === pageCount }"
                                                    @click="nextAndPrevPage('1')">{{ t('pagination.next') }}</span></li>
                    </ul>
                </nav>
            </div>
        </div>
        <subscribe-component></subscribe-component>
    </section>
</template>

<script>
import {defineComponent, ref, onMounted} from "vue";
import PageDashboard from "../components/global/PageDashboard";
import {useI18n} from "vue-i18n";
import SubscribeComponent from "../components/blog/SubscribeComponent";
import LeftAsideMenu from "../components/blog/LeftAsideMenu";
import {useRoute, useRouter} from "vue-router";
import endpoint from "../request/endpoints";
import moment from "moment";
import getPreferredLanguageFiled from "../helpers/getPreferredLanguageFiled";
import imageUrlCorrector from "../helpers/imageUrlCorrector";
import {assetUrl, PageDataLimit} from "../constants/project";
import smoothScrollUp from "../helpers/smoothScrollUp";
import metaTags from "../helpers/metaTags";

export default defineComponent({
    name: "Blog",
    components: {
        PageDashboard,
        SubscribeComponent,
        LeftAsideMenu,
    },
    setup() {
        const {t} = useI18n();
        const router = useRouter();
        const route = useRoute();
        const page = ref(1);
        const pageCount = ref(1);
        const blogCategoryId = ref(null);
        const posts = ref([]);
        const fullUrl =  ref(window.location.origin + route.fullPath);
        const img =  ref(window.location.origin + '/images/blog.jpg');
        function getEmittedCategoryAndFetchForBlog(id) {
            blogCategoryId.value = id;
            page.value = 1;
            getPostsByCategory();
        }

        function showCurrentBlog(id) {
            router.push({
                name: 'currentBlog',
                params: {
                    id: id
                }
            })
        }

        function getPosts() {
            __request.get(endpoint.BLOGS, PageDataLimit, page.value).then(res => {
                const data = res['data'];
                posts.value = data['data'];
                pageCount.value = data['last_page'];
            })
        }

        function getPostsByCategory() {
            if (!blogCategoryId.value) {
                getPosts();
            } else {
                __request.get(endpoint.BLOGS_BY_CATEGORY(blogCategoryId.value), PageDataLimit, page.value).then(res => {
                    const data = res['data'];
                    posts.value = data['data'];
                    pageCount.value = data['last_page']
                })
            }
        }

        function nextAndPrevPage(arg) {
            if ((page.value < 2 && arg === '-1') || (page.value === pageCount.value && arg === '1')) {
                return
            }
            if (arg === '1' || arg === '-1') {
                page.value += Number(arg)
            } else {
                page.value = arg;
            }
            if (blogCategoryId.value) {
                getPostsByCategory();
            } else {
                getPosts();
            }
        }

        onMounted(() => {
            getPosts();
            smoothScrollUp();
            metaTags(fullUrl.value,t('description'),t('blogTitle'), img.value);
        })
        return {
            t,
            getEmittedCategoryAndFetchForBlog,
            showCurrentBlog,
            pageCount,
            posts,
            moment,
            nextAndPrevPage,
            getPreferredLanguageFiled,
            imageUrlCorrector,
            assetUrl,
            page,
        }
    }
});
</script>

<style scoped>
.content-wrap {
    padding: 10px 0 80px 0;
}

.page-link {
    cursor: pointer;
    display: block;
}

@media (max-width: 576px) {
    .container-for-blog {
        padding-right: 0;
    }
    .entry-image img {
        width: 100%!important;
    }
}

.disable-pagination {
    opacity: 0.5;
    cursor: not-allowed;
}

.backgroundColorFirst {
    color: #FFFFFF;
}
.entry-image img {
    width: 230px;
    height: 150px;
}
</style>
