<template>
    <section class="confirm">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="confirm-img">
                        <img src="../assets/logo/logo.png" alt="icon">
                    </div>
                </div>

            </div>
            <div class="col-12" v-if="showConfirm">
                <div class="row justify-content-center">
                    <div class="confirm-text">
                        <img src="../assets/logo/confirm.jpg" alt="confirm">
                    </div>
                </div>
                <div class="row m-2 text-center justify-content-center">
                    <h3 class="colorFirst text-center">{{ text }}</h3>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import {defineComponent, ref, onMounted} from "vue";
import {useI18n} from "vue-i18n";
import {useRoute, useRouter} from "vue-router";
import endpoint from "../request/endpoints"
import {AppConfirmationDuration} from "../constants/project";
import smoothScrollUp from "../helpers/smoothScrollUp";

export default defineComponent({
    name: "ConfirmSubscription",
    setup() {
        const {t} = useI18n();
        const route = useRoute();
        const router = useRouter();
        const showConfirm = ref(false);
        const text = ref('');

        function confirmSubscription() {
            const confirm = route.params.confirm;
            const unsubscribe = route.params.unsubscribe;
            if (confirm) {
                __request.get(endpoint.CONFIRM(confirm)).then(res => {
                    console.log(res, "s")
                    if (res.status === 200) {
                        text.value = t('blogPart.subscribeConfirmed')
                        showConfirm.value = true;
                        setTimeout(()=> {
                            router.push({
                                name: 'home'
                            })
                        }, AppConfirmationDuration)
                    }
                }).catch(err => {
                    showConfirm.value = false;
                    router.push(`/${confirm}`)
                })

            } else if (unsubscribe) {
                __request.get(endpoint.UNSUBSCRIBE(unsubscribe)).then(res => {
                    if (res.status === 200) {
                        text.value = t('blogPart.unsubscribeConfirmed')
                        showConfirm.value = true;
                        setTimeout(()=> {
                            router.push({
                                name: 'home'
                            })
                        }, AppConfirmationDuration)
                    }
                }).catch(err => {
                    showConfirm.value = false;
                    router.push(`/${unsubscribe}`)
                })
            }
        }

        onMounted(() => {
            confirmSubscription();
            smoothScrollUp();
        })
        return {
            t,
            showConfirm,
            text,
        }
    }
})
</script>

<style scoped>
.confirm {
    width: 100%;
    height: max-content;
}

.confirm > .row {
    width: 100%;
    height: 100%;
}

.confirm-img {
    width: 220px;
    height: 220px;
}

.confirm-img img {
    width: 100%;
    height: 100%;
}

.confirm-text {
    width: 180px;
    height: 180px;
}

.confirm-text img {
    width: 100%;
    height: 100%;
}

h3 {
    margin-bottom: 50px;
}

.row {
    margin: unset;
}
</style>
