<template>
    <page-dashboard :title="contactInfo?contactInfo[getPreferredLanguageFiled('title')]:''"
                    :description="contactInfo?contactInfo[getPreferredLanguageFiled('description')]:''"></page-dashboard>
    <scroll-parallax :up="true" :speed="0.4">
        <WelcomeComponent :image="contactInfo?contactInfo.image:''"/>
    </scroll-parallax>
    <contact-us></contact-us>
</template>

<script>
import {defineComponent, onMounted, ref} from "vue";
import WelcomeComponent from "../components/contacts/WelcomeComponent";
import PageDashboard from "../components/global/PageDashboard";
import ScrollParallax from 'vue3-parallax/src/components/ScrollParallax.vue';
import endpoint from "../request/endpoints"
import {useI18n} from "vue-i18n";
import getPreferredLanguageFiled    from "../helpers/getPreferredLanguageFiled"
import {assetUrl} from "../constants/project";
import imageUrlCorrector from "../helpers/imageUrlCorrector";
import ContactUs from "../components/contacts/ContactUs";
import smoothScrollUp from "../helpers/smoothScrollUp";
import metaTags from "../helpers/metaTags";
import {useRoute} from "vue-router";
export default defineComponent({
    name: "Contact",
    components: {
        ContactUs,
        WelcomeComponent,
        PageDashboard,
        ScrollParallax,
    },
    setup() {
        const {t } = useI18n();
        const contactInfo = ref(null);
        const route = useRoute();
        const fullUrl =  ref(window.location.origin + route.fullPath);
        function getContactInfo() {
            __request.get(endpoint.CONTACT_INFO).then(res => {
                contactInfo.value = res.data
                if(contactInfo.value.image){
                     contactInfo.value.image = assetUrl + imageUrlCorrector(contactInfo.value.image)
                 }
                metaTags(fullUrl.value,contactInfo.value[getPreferredLanguageFiled('description')],contactInfo.value[getPreferredLanguageFiled('title')], contactInfo.value.image);
            })
        }

        onMounted(() => {
            smoothScrollUp(430);
            getContactInfo();
        })
        return {
            contactInfo,
            getPreferredLanguageFiled,
        }
    }
})
</script>

<style scoped>

</style>
