<template>
    <page-dashboard :title="title" :description="desc" :article="article"></page-dashboard>
    <section id="page-title" class="page-title-center skrollable skrollable-between"
             data-bottom-top="background-position:0px -200px;" data-top-bottom="background-position:0px 0px;">

        <div class="container clearfix">
            <h2 class="article-section colorFirst">{{ article }}</h2>
        </div>
    </section>
    <section class="text-center">
        <div class="row-post p-3">
            <div class="col-12 description-body-part" v-html="body">
            </div>
        </div>
    </section>
   <social-share :share-link="fullUrl" :facebook="true" :twitter="true" :linkedin="true" :pinterest="true" :email="true"></social-share>
    <subscribe-component></subscribe-component>
</template>

<script>
import {defineComponent, onMounted, ref} from "vue";
import PageDashboard from "../components/global/PageDashboard";
import {useI18n} from "vue-i18n";
import endpoint from "../request/endpoints";
import {useRoute} from "vue-router";
import getPreferredLanguageFiled from "../helpers/getPreferredLanguageFiled";
import {assetUrl} from "../constants/project";
import imageUrlCorrector from "../helpers/imageUrlCorrector";
import WelcomeComponent from "../components/contacts/WelcomeComponent";
import SocialShare from "../components/global/SocialShare";
import SubscribeComponent from "../components/blog/SubscribeComponent";
import smoothScrollUp from "../helpers/smoothScrollUp";
import metaTags from "../helpers/metaTags";

export default defineComponent({
    name: "CurrentBlog",
    components: {
        PageDashboard,
        WelcomeComponent,
        SocialShare,
        SubscribeComponent,
    },
    setup() {
        const {t} = useI18n();
        const route = useRoute();
        const article = ref('');
        const title = ref('');
        const desc = ref('');
        const img = ref('');
        const body = ref('');
        const fullUrl =  ref(window.location.origin + route.fullPath);

        function getCurrentBlog() {
            __request.get(endpoint.BLOG(route.params.id)).then(res => {
                const data = res.data;
                article.value = data[getPreferredLanguageFiled('title')];
                title.value = data[getPreferredLanguageFiled('excerpt')];
                desc.value = t('category') + ' ` ' + data.blog_category[getPreferredLanguageFiled('name')];
                img.value = assetUrl + imageUrlCorrector(data.image);
                body.value = data[getPreferredLanguageFiled('body')];
                metaTags(fullUrl.value,title.value,article.value, img.value);
            })
        }

        onMounted(() => {
            getCurrentBlog();
            smoothScrollUp();
        })
        return {
            t,
            article,
            title,
            desc,
            img,
            body,
            fullUrl
        }
    }
})
</script>

<style scoped>
.flex-active-slide {
    width: 100%;
    float: left;
    margin-right: -100%;
    position: relative;
    opacity: 1;
    display: block;
    z-index: 2;
}

.flexslider {
    height: 202px;
}

.title-section, .article-section {
    color: #FFFFFF;
    text-shadow: 0 0 11px #ccc;

}

.col-12 {
    padding: 5px;
    width: 100%;
}

.row-post {
    display: flex;
    flex-wrap: wrap;
}

.page-title-parallax {
    background-size: 100% 100%;
    height: 300px;
}

@media (max-width: 576px) {
 ::v-deep .description-body-part img {
       height: 240px!important;
   }
}
</style>
