<template>
    <page-dashboard :title="title" :description="desc"></page-dashboard>
    <section id="content">
        <div class="content-wrap">
            <div class="col-12 about-description-parent">
                <about-description :title="title" :text="article"></about-description>
            </div>
            <div class="col-12">
                <social-share :share-link="fullUrl" :facebook="true" :twitter="true" :linkedin="true" :pinterest="true"
                              :email="true"></social-share>
            </div>
            <contact-doctor :button-text="t('bookAppointment')" :route-link="pageUrl"></contact-doctor>
        </div>
    </section>
</template>
<script>
import {defineComponent, ref, onMounted, reactive} from "vue";
import {useI18n} from "vue-i18n";
import {useRoute} from "vue-router";
import smoothScrollUp from "../helpers/smoothScrollUp";
import PageDashboard from "../components/global/PageDashboard";
import SocialShare from "../components/global/SocialShare";
import AboutDescription from "../components/about/AboutDescription";
import ContactDoctor from "../components/doctor/ContactDoctor";
import endpoint from "../request/endpoints/index.js"
import getPreferredLanguageFiled from "../helpers/getPreferredLanguageFiled";
import imageUrlCorrector from "../helpers/imageUrlCorrector";
import metaTags from "../helpers/metaTags";
import {assetUrl} from "../constants/project";


export default defineComponent({
    name: "CurrentService",
    components: {
        PageDashboard,
        SocialShare,
        AboutDescription,
        ContactDoctor,
    },
    setup() {
        const {t} = useI18n();
        const route = useRoute();
        const fullUrl = ref(window.location.origin + route.fullPath);
        const article = ref('');
        const title = ref('');
        const desc = ref('');
        const img = ref('');
        const body = ref('');
        const hash = ref(route.params.hash);
        const pageUrl = reactive({
            name: 'appointment',
            params: {
                hash: hash.value
            }
        });

        function getCurrentService() {
            __request.get(endpoint.SERVICE_BY_HASH(hash.value)).then(res => {
                const {data} = res;
                title.value = data[getPreferredLanguageFiled('title')]
                desc.value = data[getPreferredLanguageFiled('desc')]
                article.value = data[getPreferredLanguageFiled('about')]
                img.value = assetUrl + imageUrlCorrector(data.image)
                metaTags(
                    fullUrl.value,
                    data[getPreferredLanguageFiled('desc')],
                    data[getPreferredLanguageFiled('title')],
                    img.value);
            })
        }

        onMounted(() => {
            getCurrentService();
            smoothScrollUp();
        })
        return {
            t, fullUrl, title, desc, pageUrl, article
        }
    }
})
</script>

<style scoped>
.about-description-parent ::v-deep(ul) {
    padding: -1px!important;
}
@media (max-width: 576px) {
    .description-body-part img {
        height: 240px!important;
    }
}
</style>
