<template>
    <video-slider></video-slider>
    <section class="home-description">
<!--        <HomeDescription></HomeDescription>-->
        <appointment-component></appointment-component>
        <HomeCountDown></HomeCountDown>
        <div class="container clearfix">
            <div class="heading-block center border-bottom-0 mt-3 mb-3">
                <h3 class="colorFirst">{{ t('partners') }}</h3>
            </div>
        </div>
        <HomeCarousel :image-list="imageList"></HomeCarousel>
    </section>
</template>

<script>
import {defineComponent, ref, onMounted} from "vue";
import HomeDescription from "../components/home/HomeDescription";
import AppointmentComponent from "../components/appointment/AppointmentComponent";
import HomeCountDown from "../components/home/HomeCountDown";
import HomeCarousel from "../components/home/HomeCarousel";
import VideoSlider from "../components/global/VideoSlider";
import ScrollParallax from "vue3-parallax/src/components/ScrollParallax";
import {useI18n} from "vue-i18n";
import endpoint from "../request/endpoints";
import smoothScrollUp from "../helpers/smoothScrollUp";

export default defineComponent({
    name: "Home",
    components: {
        HomeCarousel,
        HomeCountDown,
        HomeDescription,
        AppointmentComponent,
        ScrollParallax,
        VideoSlider,
    },
    setup() {
        const {t} = useI18n();
        const imageList = ref([]);

        function getPartnerList() {
            __request.get(endpoint.PARTNERS).then(res => {
                const {data} = res
                if (data.length) {
                    imageList.value = data;
                }
            })
        }

        onMounted(() => {
            smoothScrollUp(0);
            getPartnerList();
        })
        return {
            t,
            imageList,
        }
    }
})
</script>

<style scoped>

</style>
