<template>
    <page-dashboard :title="t('price')" :description="t('teamDescription')"></page-dashboard>
    <section id="content">
        <div class="content-wrap">
            <div class="col-12">
            <price-dashboard></price-dashboard>
            </div>
            <contact-doctor></contact-doctor>
        </div>
    </section>
</template>

<script>
import {defineComponent, onMounted, ref} from "vue"
import PriceDashboard from "../components/price/PriceDashboard";
import PageDashboard from "../components/global/PageDashboard";
import ContactDoctor from "../components/doctor/ContactDoctor";
import {useI18n} from "vue-i18n";
import smoothScrollUp from "../helpers/smoothScrollUp";
import metaTags from "../helpers/metaTags";
import {useRoute} from "vue-router";
export default defineComponent({
    name: "Price",
    components: {
        PriceDashboard,
        PageDashboard,
        ContactDoctor,
    },
    setup() {
        const { t } = useI18n();
        const route = useRoute();
        const fullUrl =  ref(window.location.origin + route.fullPath);
        const img =  ref(window.location.origin + '/images/confirm.jpg');
        onMounted(() => {
            smoothScrollUp();
            metaTags(fullUrl.value,t('price'),t('teamDescription'), img.value);
        })
        return {
            t,
        }
    }
})
</script>

<style scoped>


</style>
