<template>
<!--    <page-dashboard :title="t('service')" :description="t('serviceDescription')"></page-dashboard>-->
    <section id="content">
        <div class="content-wrap">
            <div class="clearfix row justify-content-center">
                <div class="col-min-height col-12 col-sm-6 col-md-6 col-xl-5 mb-5 d-flex justify-content-center" v-for="(service,index) in services" :key="index">
                  <card-component :service="service" :index="index"></card-component>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import {defineComponent, onMounted, ref} from "vue"
import { useI18n } from "vue-i18n";
import {useRoute, useRouter} from "vue-router";
import endpoint from "../request/endpoints";
import PageDashboard from "../components/global/PageDashboard";
import CardComponent from "../components/service/CardComponent";
import smoothScrollUp from "../helpers/smoothScrollUp";
import metaTags from "../helpers/metaTags";
export default defineComponent({
    name: "Service",
    components: {
        PageDashboard,
        CardComponent,
    },
    setup() {
        const { t } = useI18n();
        const router = useRouter();
        const route = useRoute();
        const fullUrl =  ref(window.location.origin + route.fullPath);
        const img =  ref(window.location.origin + '/images/2.jpg');
        const services = ref([]);
        function fetchServiceList() {
            __request.get(endpoint.SERVICES).then(res => {
                services.value = res.data;
            })
        }

        function showCurrentService(hash) {
            router.push({
                name: 'currentBlog',
                params: {
                    hash: hash
                }
            })
        }
        onMounted(() => {
            fetchServiceList();
            smoothScrollUp();
            metaTags(fullUrl.value,t('service'),t('serviceDescription'), img.value);
        })
        return {
            t,
            services,
        }
    }
})
</script>

<style scoped>
.col-min-height {
    min-height: 180px;
}
</style>
