<template>
  <div class="row">
      <div class="col-12 plr">
          <iframe class="map-style" :src="contacts?contacts['address_map_link']: ''" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
  </div>
</template>

<script>
import {computed, defineComponent, onMounted} from "vue";
import {useStore} from "vuex";
export default defineComponent({
    name: "ContactMap",
    setup() {
        const store = useStore();
        const contacts = computed(() => store.getters['contact/getContactState']);
        return {
            contacts
        }
    }
})
</script>

<style scoped>
   .map-style {
       height: 500px;
       width: inherit;
   }
   .plr {
       padding: 0 2.5%;
   }
</style>
