<template>
    <section id="content">
        <div class="content-wrap">
            <div class="container">

                <div class="row">
                    <div class="col-lg-8">

                        <img src="../../assets/files/clinic.jpg" alt="office">

                    </div>
                    <div class="col-lg-4">
                    <timing></timing>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
            <div class="content-wrap map-wrap">
                <contact-map></contact-map>
            </div>
    </section>
</template>

<script>
import {defineComponent} from "vue";
import Timing from "./Timing";
import ContactMap from "./ContactMap";

export default defineComponent({
    name: "ContactUs",
    components: {
        ContactMap,
        Timing,

    }
})
</script>

<style scoped>
.map-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
}
</style>
