<template>
    <div class="p-1" ref="timingPart" id="timingPart">
        <div class="opening-table">
            <div class="heading-block bottommargin-sm border-bottom-0">
                <h4 class="colorSecond">{{ t('timings') }}</h4>
                <span class="colorSecond">{{ t('timingWelcome') }}</span>
            </div>
            <div class="time-table-wrap clearfix">
                <div class="row time-table" v-for="(time , index) in timings" :key="index">
                    <h5 class="col-lg-5 weeDayUpper colorSecond">{{ weekDays[time.day-1] }}</h5>
                    <span class="col-lg-7 colorSecond font-weight-semibold">
                        {{ time.start ?  time.start + ' - ' + time.end : t('closed') }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {defineComponent, onMounted, ref} from "vue";
import {useI18n} from "vue-i18n";
import endpoint from "../../request/endpoints";
import * as moment from "moment";

export default defineComponent({
    name: "Timing",
    setup() {
        const {t, locale} = useI18n();
        const timings = ref(null);
        const weekDays = moment.weekdays(true)
        function getTimingData() {
            __request.get(endpoint.CONTACT_TIMING).then(res => {
                timings.value = res.data;
            })
        }

        onMounted(() => {
            getTimingData();
        })
        return {
            t,
            timings,
            weekDays
        }
    }
})
</script>

<style scoped>
.opening-table {
    background-color: #f5f5f5;
    padding: 18px;
}

.time-table {
    border-bottom: 2px #cccccc solid;
    margin: 1px 0;
}
.weeDayUpper {
    text-transform: capitalize
}
</style>
