<template>
    <section id="page-title" class="page-title-parallax page-title-dark page-title-center skrollable skrollable-between"
             :style="'background: url(' + image + ') 0 -148.559px / cover; padding: 140px 0;'"
             data-bottom-top="background-position:0px -200px;" data-top-bottom="background-position:0px 0px;">

        <div class="container clearfix">
            <div class="emphasis-title dark mb-0">
                <span class="before-heading"><a :href="contacts?'mailto:'+ contacts.email: null" class="before-heading">
                                {{contacts?contacts.email: null}}</a></span>
                <h2 class="font-weight-bold ls0">
                    <a class="font-weight-bold ls0" :href="contacts?'tel:'+ contacts.phone: null">{{contacts?contacts.phone: null}}</a>
                </h2>
            </div>
            <a :href="contacts?contacts['href_map']: null" target="_blank"
               data-lightbox="iframe"><i class="icon-line-map i-large i-plain dark mx-auto"></i></a>
            <a :href="contacts?contacts['href_map']: null" target="_blank"
               data-lightbox="iframe">
                <span class="font-weight-semibold ls1 text-uppercase">{{ contacts?contacts.address: null}}</span>
            </a>
        </div>

        <div class="video-overlay"></div>
    </section>
</template>

<script>
import {computed, defineComponent} from "vue";
import {useStore} from "vuex";

export default defineComponent({
    name: "WelcomeComponent",
    props: {
        image: {
            type: String,
            required: true,
        }
    },
    setup() {
        const store = useStore();
        const contacts = computed(() => store.getters['contact/getContactState']);
        return {
            contacts
        }
    }
})
</script>

<style scoped>
#page-title > .clearfix {
    z-index: 2
}
.before-heading, .font-weight-bold {
    color: #FFF;
}
.font-weight-semibold {
    color: #EEE;
}
.video-overlay {
    z-index: 1;
    background: #1abc9c50;

}
.before-heading {
    font-size: 1.7rem;
}

</style>
