<template>
  <div class="promo promo-dark promo-full promo-uppercase bg-color footer-stick p-5 backgroundColorFirst">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg">
          <h3>{{ t('teamTitle') }}</h3>
          <span
              class="nott">{{ t('teamDescribe') }}</span>
        </div>
        <div class="col-12 col-lg-auto mt-4 mt-lg-0">
          <a href="#" @click="redirectToPage($event)"
             class="button button-large button-border button-rounded button-light button-white m-0">{{
              buttonText ? buttonText : t('contactUs')
            }}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent, ref} from "vue"
import {useI18n} from "vue-i18n";
import {useRouter} from "vue-router";
export default defineComponent({
  name: "ContactDoctor",
  props: {
    buttonText: {
      required: false,
      type: String,
      default: ''
    },
    routeLink: {
      required: false,
      type: Object,
      default: null
    }
  },
  setup(props) {
    const {t} = useI18n();
    const router = useRouter();
    const buttonText = ref(props.buttonText)
    function redirectToPage(e) {
      e.preventDefault();
      if (props.routeLink) {
        router.push(props.routeLink)
      } else {
        router.push({
          name: 'contacts'
        })
      }
    }

    return {
      t,
      redirectToPage,
      buttonText
    }
  }
})
</script>

<style scoped>
h3 {
  letter-spacing: 2px;
}
</style>
