<template>
    <div class="entry col-12 col-md-4">
        <div class="grid-inner">
            <div class="entry-image">
                <blockquote>
                        <div class="col-12">
                            <h4 class="">{{t('blogPart.categories')}}</h4>
                            <ul class="price-table mb-0 colorFirst">
                                <li @click="getSelectedCategoryIdAndEmmit(null)">
                                    <span>{{t('all')}}</span>
                                </li>
                                <li v-for="(category,index) in categories" :key="index" @click="getSelectedCategoryIdAndEmmit(category.id)">
                                    <span>{{ category[getPreferredLanguageFiled('name')]}}</span>
                                </li>
                            </ul>
                        </div>
                </blockquote>
            </div>
        </div>
    </div>
</template>
<script>
import {defineComponent, ref, onMounted} from "vue";
import {useI18n} from "vue-i18n";
import endpoint from "../../request/endpoints";
import getPreferredLanguageFiled from "../../helpers/getPreferredLanguageFiled";

export default defineComponent({
    name: "LeftAsideMenu",
    emits: ['selectedCategoryIdEmitter'],
    setup(props, context) {
        const { t } = useI18n();
        const categories = ref([]);
        function getCategories(){
            __request.get(endpoint.BLOG_CATEGORIES).then(response => {
                categories.value = response.data
            })
        }
        function getSelectedCategoryIdAndEmmit(id){
         context.emit('selectedCategoryIdEmitter', id);
        }
        onMounted(()=> {
            getCategories();
        })
       return {
           t,
           categories,
           getPreferredLanguageFiled,
           getSelectedCategoryIdAndEmmit,
       }
    }
})
</script>

<style scoped>
.price-table {
    list-style-type: none;
    cursor: pointer;
}
.price-table span {
    font-size: 1rem!important;
}
blockquote {
    padding: 10px 0;
    margin: 0 0 20px;
    font-size: 1.125rem;
    border-left: unset;
    border-right: 5px solid #eee;
}
</style>
