<template>
    <div class="content-wrap">
        <div class="promo promo-dark promo-full promo-uppercase bg-color footer-stick p-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg">
                        <h4>{{ t('blogPart.getNotified') }}</h4>
                    </div>
                    <div class="col-12 col-lg mt-4 mt-lg-0">
                        <input title="subscribe" v-model="email" type="email" class="sm-form-control required email"
                               :placeholder="message" :class="{'error-class': showError}">
                    </div>
                    <div class="col-12 col-lg-auto mt-4 mt-lg-0">
                        <a :href="null" @click="subscribeUser"
                           class="button button-large button-border button-rounded button-light button-white m-0">{{ t('blogPart.subscribe') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {defineComponent, ref, onMounted, getCurrentInstance} from "vue"
import {useI18n} from "vue-i18n";
import {AppErrorTimeOut, AppToasterClasses} from "../../constants/project";
import endpoint from "../../request/endpoints"

export default defineComponent({
    name: "SubscribeComponent",
    setup() {
        const {t} = useI18n();
        const email = ref('');
        const $toast = getCurrentInstance().ctx.$toast
        const showError = ref(false);
        const message = ref(t('blogPart.enterEmail'));
        const clickHandler = ref(null);
        function subscribeUser() {
            const emailRegExp = new RegExp(/^[^\s()<>@,;:\/]+@\w[\w\.-]+\.[a-z]{2,}$/i);
            if (emailRegExp.test(email.value)) {
                __request.post(endpoint.SUBSCRIBE, {
                    email: email.value,
                }).then(res => {
                    console.log(res,'resss')
                    if (res.status === 500) {
                        $toast.warning( t('serverError'))
                        turnOffErrorMessage(t('serverError'))
                    }
                    if (res.status === 203) {
                        $toast.warning(t('blogPart.subscribeError'));
                        turnOffErrorMessage(t('blogPart.subscribeError'))
                    }
                    if (res.status === 201) {
                        $toast.success(t('blogPart.subscribeSuccess'));
                        turnOffErrorMessage(t('blogPart.subscribeSuccess'))
                    }
                })
            } else {
                turnOffErrorMessage(t('blogPart.subscribeInvalid'));
                $toast.warning(t('blogPart.subscribeInvalid'))
            }
        }

        function turnOffErrorMessage(messageArg) {
            showError.value = true;
            email.value = "";
            message.value = messageArg;
            setTimeout(() => {
                showError.value = false;
                message.value = t('blogPart.enterEmail')
            }, AppErrorTimeOut)
        }

        return {
            t,
            email,
            subscribeUser,
            showError,
            message,
            clickHandler,
        }
    }
})
</script>

<style scoped>
h4 {
    letter-spacing: 2px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0
}

.email {
    line-height: 30px;
    border-color: #fff;
    width: 100%;
}

.error-class {
    border: 2px solid red;
}
</style>
