<template>
    <div class="section bg-white mb-3">
        <div class="container clearfix">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6" v-for="(statistic, index) in statistics" :key="index">
                    <div class="feature-box fbox-outline fbox-dark fbox-effect clearfix">
                        <div class="fbox-icon">
                            <a href="#"><i :class="iconList[index] ? iconList[index] : iconList[0]" class="i-alt countdown-icon"></i></a>
                        </div>
                        <div class="fbox-content">
                            <div class="counter counter-small count-text">
                                <vue3-autocounter
                                    :startAmount='0'
                                    :endAmount='statistic.count'
                                    :duration='5'
                                    separator=','
                                    :autoinit="true"
                                ></vue3-autocounter>
                            </div>
                            <h5 class="m-0 countdown-color count-text">{{statistic[getPreferredLanguageFiled('title')]}}</h5>
                            <div class="d-block d-md-block d-lg-none bottommargin"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import Vue3Autocounter from 'vue3-autocounter';
import {defineComponent, ref, onMounted} from "vue";
import getPreferredLanguageFiled from "../../helpers/getPreferredLanguageFiled";
import endpoint from "../../request/endpoints";
export default defineComponent({
    name: "HomeCountDown",
    components: {
        Vue3Autocounter,
    },
    setup() {
        const statistics = ref([]);
        const iconList =ref(['icon-star21', 'icon-heart21', 'icon-diamond2','icon-newspaper3', 'icon-vcard', 'icon-screen','icon-checkbox', 'icon-grid'])
        function getStatisticList() {
            __request.get(endpoint.STATISTICS).then(res => {
               const { data } = res;
               if(data.length){
                   statistics.value = data
               }
            })
        }
        onMounted(() => {
            getStatisticList();
        })

        return {
            statistics,
            getPreferredLanguageFiled,
            iconList,
        }
    }

})
</script>

<style scoped>

.countdown-color {
    color: #094754 !important;
}

.countdown-section {
    background-color: white !important;
    margin-bottom: 0 !important;
}

.countdown-icon {
    background-color: #278077 !important;
    color: white !important;
}

.countdown-wrapper {
    padding-top: 0;
}

.count-text {
    text-align: left;
}

</style>
