<template>
    <section class="carousel-container backgroundColorFirstLight">
        <Carousel :settings="settings" :breakpoints="breakpoints" :autoplay="AppAutoPlayInterval">
            <Slide v-for="(item, index) in imageList" :key="index">
                <div class="carousel__item">
                    <img class="slider_image" :src="assetUrl + imageUrlCorrector(item.image)" alt="pics">
                    <h6 class="text-white mt-2">{{item.text}}</h6>
                </div>
            </Slide>
            <template #addons>
                <Navigation/>
                <Pagination/>
            </template>
        </Carousel>
    </section>
</template>
<script>
import {defineComponent, reactive, ref, onMounted} from "vue";
import {Carousel, Slide, Navigation, Pagination,} from 'vue3-carousel';
import imageUrlCorrector from "../../helpers/imageUrlCorrector";
import {AppAutoPlayInterval, assetUrl} from "../../constants/project";
export default defineComponent({
    name: 'Breakpoints',
    components: {
        Carousel,
        Slide,
        Navigation,
        Pagination,
    },
    props: {
        imageList: {
            required: true,
            type: Array,
            default: [],
        }
    },
    setup(props) {
        const settings = reactive({
            itemsToShow: 1,
            snapAlign: 'center',
            wrapAround: true,
        });
        const breakpoints = reactive({
            540:
                {
                    itemsToShow: 1,
                    snapAlign: 'start',
                },
            700:
                {
                    itemsToShow: 2,
                    snapAlign: 'start',
                },

            1024:
                {
                    itemsToShow: props.imageList.length > 2 ? 3 : 2,
                    snapAlign: 'center',
                }
        })

        onMounted(() => {
        })

        return {
            settings,
            breakpoints,
            imageUrlCorrector,
            assetUrl,
            AppAutoPlayInterval,
        }
    },
});
</script>

<style scoped>
@import '../../../css/homeCarousel/carousel.css';

.carousel-container {
    padding: 5px 15px;
}
.slider_image {
    /*height: 180px;*/
    /*width: 280px;*/
}
h6 {
    padding: 0 20%;
}
</style>
