<template>
    <section>
        <div class="container-wrap">
         <div class="container clearfix">
                        <div class="row col-mb-50 mb-0">
                            <div class="col-sm-6 col-lg-4">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon bounceIn animated" data-animate="bounceIn">
                                        <a href="#"><i class="icon-heartbeat colorFirst"></i></a>
                                    </div>
                                    <div class="fbox-content">
                                        <h3 data-aos="slide-down" data-aos-duration="4000" >Intensive Care</h3>
                                        <p data-aos="slide-down" data-aos-duration="4000" >Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon bounceIn animated" data-animate="bounceIn" data-delay="200">
                                        <a href="#"><i class="icon-hands colorFirst"></i></a>
                                    </div>
                                    <div class="fbox-content">
                                        <h3 data-aos="slide-down" data-aos-duration="4000" >Family Planning</h3>
                                        <p  data-aos="slide-down" data-aos-duration="4000" >Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon bounceIn animated" data-animate="bounceIn" data-delay="400">
                                        <a href="#"><i class="icon-brain colorFirst"></i></a>
                                    </div>
                                    <div class="fbox-content">
                                        <h3 data-aos="slide-down" data-aos-duration="4000" >Expert Consultation</h3>
                                        <p data-aos="slide-down" data-aos-duration="4000" >Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon bounceIn animated" data-animate="bounceIn">
                                        <a href="#"><i class="icon-tooth colorFirst"></i></a>
                                    </div>
                                    <div class="fbox-content">
                                        <h3 data-aos="slide-down" data-aos-duration="4000" >Dental Sciences</h3>
                                        <p data-aos="slide-down" data-aos-duration="4000" >Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon bounceIn animated" data-animate="bounceIn" data-delay="200">
                                        <a href="#"><i class="icon-x-ray colorFirst"></i></a>
                                    </div>
                                    <div class="fbox-content">
                                        <h3 data-aos="slide-down" data-aos-duration="4000" >X-Ray Services</h3>
                                        <p data-aos="slide-down" data-aos-duration="4000" >Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon " data-animate="bounceIn" data-delay="400">
                                        <a href="#">
                                            <i class="icon-ambulance1 colorFirst"></i>
                                        </a>
                                    </div>
                                    <div class="fbox-content">
                                        <h3  data-aos="slide-down" data-aos-duration="4000" >24x7 Emergency</h3>
                                        <p  data-aos="slide-down" data-aos-duration="4000" >Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>
        </div>
    </section>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent( {
    name: "HomeDescription"
})
</script>
<style scoped>
.container-wrap {
    margin-top: 50px;
}
@media screen and (max-width: 576px) {
    .feature-box {
        flex-direction: column;
        align-items: center;
        text-align: center
    }

}


</style>
