.general-dashboard > .row {
    max-height: 70vh;
    margin: 2vh 0;
}
.scroll-container {
    max-height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-right: 3%;
}
.price-btn {
   border: 1px solid #278077;
    font-size: 15px;
    margin-bottom: 20px;
    height: 95%;
    width: 100%;
    padding: 4% 2% 0 2%;
    font-weight: 200;
    transition: all .2s ease-in-out;
}
.price-btn:hover {
    background-color: #0f6674;
    color: white;
}
.btn-custom-button {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    background: #278077;
    margin-right: 5px;
    font-size: 12px;
    font-family: Arm sans-serif;
}

.lab_cost_list_division {
    margin-bottom: 25px;
    border-top: 1px solid  #278077;
    border-bottom: 1px solid  #278077;
}
#dataSide .current-btn-style > div > div {
    border-bottom: 2px solid  #094754;
    color:  #094754;
}
.btn-custom-button:hover{
    background:  #094754;
    color: #ffffff;
}

.selected-price-button {
    background:  #094754;
    color: #ffffff;
}

.list-group-item > .row > div {
    padding: 0 1px;
}
.btn-outline-success-custom-borderline {
    border-right: 3px solid #e6e2e2;
}
.lab-cost-buttons-border {
    border-right: 3px solid #278077 !important;
}

.selected-price-divider-box {
    border: 3px solid #278077 !important;
    background: radial-gradient(circle, rgba(39,128,119,0.6) 50%, rgba(9,71,84,0.6) 100%);
}
.selected-price-divider-box ul li {
    background: radial-gradient(circle, rgba(39,128,119,0.6) 50%, rgba(9,71,84,0.6) 100%);
    color: #FFFFFF;
}
.text-to-low {
    font-size: 14px!important;
    font-weight: 100!important;
}

/******Mobile container starts *****/
.rotation_fluid {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.86);
    justify-content: center;
    align-items: center;
    display: none;
}
.rotation_fluid_phone {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: #ffffff;
    line-height: 85vh;
    text-align: center;
    margin: 0 auto;
    animation: rotate 1.5s ease-in-out infinite alternate;
}
.rotation_fluid_message {
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    top: 60vh;
    padding: 0 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.empty_section {
    height: 11vh;
}

/****** Scroll bar starts *****/
/* width */
.scroll-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.scroll-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.scroll-container::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, rgba(39,128,119,1) 0%, rgba(9,71,84,1) 100%);
    border-radius: 10px;
}

/* Handle on hover */
.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #094754;
}

/******media starts*****/
@media screen and (min-width: 888px) {
   .title-content {
       max-width: 840px;
       width: 100%;
   }
}
@media screen and (max-width: 895px) {
    .text-to-low {
        font-size: 13px!important;
    }
    .price-title {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 576px) {
    .rotation_fluid {
        display: flex;
    }
    .tab-nav {
        flex-direction: column;
    }

}
