<template>
    <section class="about-slider-container" v-if="images.length">
        <Carousel :wrap-around="true" :autoplay="AppAutoPlayInterval">
            <Slide v-for="(slide,index) in images" :key="index">
                <div class="carousel__item second-item">
                    <img :src="assetUrl + imageUrlCorrector(slide['image'])" alt="pics">
                </div>
            </Slide>
        </Carousel>
    </section>
</template>

<script>

import {Carousel, Slide} from 'vue3-carousel';
import {defineComponent, onMounted, ref} from "vue"
import endpoint from "../../request/endpoints";
import {assetUrl, AppAutoPlayInterval} from "../../constants/project";
import imageUrlCorrector from "../../helpers/imageUrlCorrector";

export default defineComponent({
    name: "AboutSlider",
    components: {
        Carousel,
        Slide,
    },
    setup() {

        const images = ref([]);

        function getSliderImages() {
            __request.get(endpoint.ABOUT_SLIDER).then(res => {
                const {data} = res;
                if (data.length) {
                    images.value = data;
                }
            })
        }

        onMounted(() => {
            getSliderImages()
        })
        return {
            images,
            assetUrl,
            imageUrlCorrector,
            AppAutoPlayInterval
        }
    }
})
</script>

<style scoped>
@import '../../../css/homeCarousel/carousel.css';
</style>
