<template>
    <section id="content">
        <div class="container-wrap">
            <div class="container clearfix">
                <div class="row col-mb-50 mb-0">
                    <div class="title-content d-flex justify-content-center flex-column align-items-center w-100">
                        <h2 class='about-title'>{{ title }}</h2>
                        <div class="icon-box">
                            <i class="icon-heart colorFirst about-icon"></i>
                        </div>
                    </div>
                    <div class="about-content col-12">
                        <p id="aboutTextP" class="about-text" v-html="text"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
import {defineComponent, ref} from "vue"

export default defineComponent({
    name: "AboutDescription",
    props: {
        title: {
            type: String,
            required: true,
        },
        text: {
            type: String,
            required: true,
        }
    },
    setup(props) {
        return {
        }
    }
})
</script>

<style scoped>
.about-content {
    height: max-content;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-bottom: 30px;
}

.about-text {
    margin-top: 30px;
    padding: 0 20px;
}
#aboutTextP ul, ul {
    padding: -1px!important;
}
.title-content {
    margin-top: 20px;
}

.icon-box {
    height: 50px;
    position: relative;
    margin-bottom: 20px;
}

.about-icon {
    font-size: 40px;
}

.icon-box::before {
    content: '';
    position: absolute;
    top: 43px;
    right: 40px;
    height: 3px;
    width: 40px;
    background-color: #278077;
}

.icon-box::after {
    content: '';
    position: absolute;
    top: 43px;
    right: -40px;
    height: 3px;
    width: 40px;
    background-color: #278077;
}

/****** Scroll bar starts *****/
/* width */
.about-content::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.about-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
.about-content::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, rgba(39, 128, 119, 1) 0%, rgba(9, 71, 84, 1) 100%);
}

/* Handle on hover */
.about-content::-webkit-scrollbar-thumb:hover {
    background: #094754;
}

/*media*/
@media screen and (max-width: 585px) {
    .about-content {
        margin-right: 20px;
        height: 50vh;
    }
   ::v-deep #aboutTextP img {
        height: 240px!important;
    }
}
</style>
