<template>
    <section id="page-title" class="page-title-center p-0">

        <div class="fslider" data-arrows="false" data-pagi="false" data-animation="fade" data-hover="false">
            <div class="flexslider">

                <div class="slider-wrap">
                    <div class="slide flex-active-slide"><img src="../../assets/files/2.jpg" alt="Page Title Image" draggable="false"></div>
                    <div class="slide"><img class="w-100" src="../../assets/files/lang/en.png" alt="Page Title Image" draggable="false"></div>
                    <div class="slide"><img class="w-100" src="../../assets/files/2.jpg" alt="Page Title Image" draggable="false"></div>
                    <div class="slide"><img class="w-100" src="../../assets/files/2.jpg" alt="Page Title Image" draggable="false"></div>
                </div>

                <div class="vertical-middle vertical-middle-overlay">
                    <div class="container clearfix">
                        <h1>About Us</h1>
                        <span>A Short Page Title Tagline</span>
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About-us</li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

    </section>
</template>
<script>
import {defineComponent, onMounted} from "vue";

export default defineComponent({
    name: "CarouselComponent",
    props: {
        data: {
            type: Array,
            required: true,
            default: [],
        },
        autoplay: {
            type: Boolean,
            default: false,
        },
        duration: {
            type: Number,
            default: 1000,
        },
        navigation: {
            type: Boolean,
            default: true,
        }
    },
    setup(props, {}) {


        function next(){

        }

        function prev() {

        }

        function autoplay(){
            if(props.autoplay){
                setInterval(() => {
                    next()
                }, props.duration)
            }
        }
        onMounted(() => {
            autoplay();
        })
        return {
            next,
            prev,
        }
    }
})
</script>

<style scoped>
.carousel-control-prev-icon {
    background-image: url(../../assets/files/prev.svg)!important;
}
.carousel-control-next-icon {
    background-image: url(../../assets/files/next.svg)!important;
}
#page-title {
    max-height: 300px;
}
</style>
