<template>
    <div id="fb-root"></div>
    <div class="fb-customerchat"
         :attribution='attribution'
         :page_id="id"
         :theme_color="color"
         :logged_in_greeting="t('fb_greeting')"
         :greeting_dialog_display="GDD">
    </div>
</template>
<script>
import {defineComponent, ref, onMounted} from "vue"
import {
    facebook_chat_color,
    facebook_greeting_dialog_display,
    facebook_id,
    facebook_attribution
} from "../../constants/microservices";
import {useI18n} from "vue-i18n";

window.fbAsyncInit = function () {
    try {
        FB.init({
            cookie: true,
            xfbml: true,
            version: 'v8.0'
        });
    } catch (e) {
        console.log(e, 'err')
    }

};
export default defineComponent({
    name: "FaceBookChat",
    setup() {
        const id = ref(facebook_id);
        const color = ref(facebook_chat_color);
        const GDD = ref(facebook_greeting_dialog_display);
        const attribution = ref(facebook_attribution);
        const {t} = useI18n();
        onMounted(() => {
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        })
        return {
            id,
            color,
            GDD,
            t,
            attribution,
        }
    }
})
</script>

<style>
.fb_dialog_content > iframe:nth-child(1) {
    box-shadow: 0 0 10px 4px #ccc !important;
}
</style>
