<template>
    <footer id="footer" class="backgroundColorFirst">
        <div id="copyrights" class="bg-transparent">
            <div class="container clearfix">
                <div class="row col-mb-30">
                    <div class="col-md-6 text-center text-md-left copy" >
                        <p class="copy-right" v-html="t('copyRight')"></p>
                        <div class="copyright-links">
                            <div class="widget subscribe-widget clearfix">
                                <div class="row col-mb-30 col-12 icon-wrapper">
                                    <div class=" clearfix  justify-content-center social-icon-content">
                                        <a :href="contacts?contacts.facebook:null" target="_blank" class="social-icon si-dark si-colored si-facebook mb-0">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                    </div>
                                    <div class=" clearfix  justify-content-center ">
                                        <a :href="contacts?contacts.instagram:null" target="_blank" class="social-icon si-dark si-colored si-instagram mb-0 social-icon-instagram">
                                            <i class="icon-instagram"></i>
                                            <i class="icon-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center text-md-right">
                        <div class="copyrights-menu copyright-links clearfix">
                            <a v-for="(route, index) in routeList" :key="index" @click="routAndScrollUp(route.routeName)" :title="route.name">{{route.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>
<script>
import { defineComponent, reactive, onMounted } from "vue";
import { useI18n } from "vue-i18n";
import { useStore } from 'vuex'
import { computed } from "@vue/reactivity";
import smoothScrollUp from "../../helpers/smoothScrollUp"
import {useRouter} from "vue-router";
export default defineComponent({
    name: "FooterComponent",
    setup() {
        const { t } = useI18n();
        const store = useStore();
        const router = useRouter();
        const contacts = computed(() => store.getters['contact/getContactState']);
        const routeList = reactive([
            {
                routeName: "home",
                name: `${t('home')} |`
            },
            {
                routeName: "about",
                name: `${t('about')} |`
            },
            {
                routeName: "service",
                name: `${t('service')} |`
            },
            // {
            //     routeName: "price",
            //     name: `${t('price')} |`
            // },
            {
                routeName: "appointment",
                name: `${t('appointment')} |`
            },
            {
                routeName: "doctors",
                name: `${t('doctors')} |`
            },
            {
                routeName: "blog",
                name: `${t('blog')} |`
            },
            {
                routeName: "contacts",
                name: t('contacts')
            },
        ]);
        function routAndScrollUp(name){
            router.push({
                name: name
            })
            smoothScrollUp();
        }
        onMounted(()=> {
        })
        return {
            routeList,
            t,
            contacts,
            routAndScrollUp,
        }
    }
})
</script>

<style scoped>
#footer {
    border-top: 2px solid rgba(0,0,0,0.06);
    color: #FFFFFF;
}
#footer a {
    color: #FFFFFF;
    cursor: pointer;
}
.copyrights-menu a {
    margin-right: 0;
    margin-left: 5px;
}
.social-icon {
    margin-right: 10px;
}
.social-icon-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.social-icon {
 border: unset;
}
.copy-right {
    margin-bottom: 15px;
}
.icon-wrapper {
    display: flex;
}
@media screen and (max-width: 575px) {
    .social-icon {
      width: 45px;
    }
    .social-icon-content:first-child{
        margin-right: 15px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .icon-wrapper {
        justify-content: center;
        margin:30px 0;
        align-content: center;
    }
    .copy {
        padding-bottom: 0!important;
    }
    #copyrights{
        font-size: 0.9rem;
    }
}

</style>
