<template>
    <nav ref="navbar" class="navbar z-index-navbar navbar-expand-lg navbar-light pl-4 pr-4" :class="{'fixed-top': fixTop}">
        <router-link :to="{name: 'home'}" class="standard-logo navbar-brand p-0"><img
            src="../../assets/logo/logo.png" alt="Genesis Logo"></router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active" v-for="(menu,index) in routeList" :key="index">
                    <router-link class="nav-link" v-slot="{isActive}" :to="{name : menu.routeName}">{{
                            menu.name
                        }}
                    </router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
import {defineComponent, onMounted, reactive, ref} from "vue";
import {useI18n} from "vue-i18n";
import {useRouter} from "vue-router";

export default defineComponent({
    name: "MenuComponent",
    emits: ['emitNavbarHeight'],
    props: {
        fixTop: {
            type: Boolean,
            default: false
        }
    },
    setup(props, { emit }) {
        const {t} = useI18n();
        const allowTop = false;
        const routeList = reactive([
            {
                routeName: "home",
                name: t('home')
            },
            {
                routeName: "about",
                name: t('about')
            },
            {
                routeName: "service",
                name: t('service')
            },
            // {
            //     routeName: "price",
            //     name: t('price')
            // },
            {
                routeName: "appointment",
                name: t('appointment')
            },
            {
                routeName: "doctors",
                name: t('doctors')
            },
            {
                routeName: "blog",
                name: t('blog')
            },
            {
                routeName: "contacts",
                name: t('contacts')
            },
        ]);
        function toggleMenuOutsideIt() {
            jQuery(window).click(function(e) {

                if(jQuery(".navbar-collapse").hasClass("show")){
                    jQuery('.navbar-collapse').removeClass("show");
                    e.preventDefault();
                }
            });
        }
        const navbar = ref(null)
        onMounted(() => {
            toggleMenuOutsideIt()
            emit('emitNavbarHeight', navbar.value?navbar.value.offsetHeight: 20)
        })
        return {
            t,
            routeList,
            allowTop,
            navbar
        }
    }
})
</script>

<style scoped>
.z-index-navbar {
    z-index: 9999!important;
}
.standard-logo img {
    height: 165px;
    /*-webkit-animation: spin 15s infinite;*/
    /*animation: spin 15s infinite;*/
}

.nav-link {
    font-weight: 900;
    text-transform: uppercase;
}

li .router-link-active.nav-link {
    background: #278077 !important;
    padding: 7px!important;
}

.router-link-active.nav-link {
    color: #FFFFFF !important;
}
.fixed-top {
    background: #FFFFFF;
    opacity: 0.99;
    z-index: 9999;
}
.navbar {
    padding: 0 1.5rem!important;
}
@-webkit-keyframes spin{
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
    }
}

@keyframes spin{
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}


@media only screen and (min-width: 992px) and (max-width: 1075px) {
  .nav-link {
    font-size: 0.8rem;
   }
}

</style>
