<template>
    <div v-if="showTopButton" class="topButton backgroundColorFirst" @click="smoothScrollUp">
        <i class="icon-arrow-up"></i>
    </div>
</template>

<script>
import {defineComponent} from "vue"
import smoothScrollUp from "../../helpers/smoothScrollUp"
export default defineComponent({
    name: "PageToTop",
    props: {
        showTopButton: {
            type: Boolean,
            default: false,
        }
    },
    setup() {
        return {
            smoothScrollUp
        }
    }
})
</script>

<style scoped>
.topButton {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 13px;
    bottom: 110px;
    border-radius: 50%;
    opacity: .9;
    text-align: center;
    line-height: 60px;
    margin: 0 12px;
    color: #FFFFFF;
    font-size: 25px;
    cursor: pointer;
    z-index: 999999;
    box-shadow: 0 0 10px 4px #ccc;
}

.topButton > i {
    -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes uparrow {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: translateY(-0.4em);
        opacity: 0.9;
    }
}
</style>
