<template>
    <section id="page-title" class="backgroundColorFirst">
        <div class="container clearfix">
            <div class="row">
                <div class="col-12 col-md-7">
                    <h1>{{ title }}</h1>
                    <span>{{ description }}</span>
                </div>
                <div class="col-12 col-md-5">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" v-for="(breadcrumb, index) in breadcrumbList" :key="index"
                            @click="routeTo(index)"
                            :class="{'active': !breadcrumb.link, 'colorSecondT' : breadcrumb.link}"
                            :aria-current="{'page': !!breadcrumb.link}">
                            {{ breadcrumb.name === "article" ? article : t(breadcrumb.name) }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import {defineComponent, ref} from "vue";
import {useRoute, useRouter} from "vue-router";
import {useI18n} from "vue-i18n";

export default defineComponent({
    name: "PageDashboard",
    props: {
        title: {
            required: true,
            type: String,
        },
        description: {
            required: true,
            type: String,
        },
        article: {
            required: false,
            type: String,
        }
    },
    setup() {
        const route = useRoute();
        const router = useRouter();
        const {t} = useI18n();
        const breadcrumbList = ref(route.meta['breadcrumb']);
        function routeTo(index) {
            breadcrumbList.value[index].link ? router.push({'path': breadcrumbList.value[index].link}) : null;
        }
        return {
            breadcrumbList,
            t,
            routeTo,
        }
    }
})
</script>

<style scoped>
#page-title {
    padding: 2rem 0!important;
}
.breadcrumb-item {
    cursor: pointer;
}
.colorSecondT {
    color: #FFFFFF;
}
.breadcrumb-item::before {
    color: #FFFFFF;
}
.active {
    cursor: auto;
    color: #ccc!important;
}
#page-title * {
    color: #FFFFFF;
}
</style>
