<template>
    <div id="ad-alert" class="alert alert-success alert-dismissible fade show" role="alert" v-if="showOffer">
        <a class="text-center strong" @click="closeAndRedirectToOffer($event)">{{ t('ad_text') }}
        </a>
        <button type="button" @click="closeOffer" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</template>

<script>
import {defineComponent, onMounted, ref} from "vue"
import {useI18n} from "vue-i18n";
import endpoint from "../../request/endpoints";
import {PageDataLimit} from "../../constants/project";
import {useRouter} from "vue-router";

export default defineComponent({
    name: "ShowAds",
    setup() {
        const {t} = useI18n();
        const showOffer = ref(false);
        const router = useRouter();
        const hash = ref(null);
        function getLastService(){
            __request.get(endpoint.LAST_SERVICE).then(res => {
                const { data } = res;
                if(data['hash'] && data['hash'] !== getDataInStorage()){
                    showOffer.value = true;
                    hash.value = data.hash
                }else{
                    showOffer.value = false;
                }
            })
        }
        function closeAndRedirectToOffer(e){
            e.preventDefault();
            router.push({
                name: 'currentService',
                params: {
                    hash: hash.value
                }
            })
            document.querySelector('#ad-alert').style.display = 'none';
            setDataInStorage(hash.value)
        }
        function closeOffer(){
            setDataInStorage(hash.value)
        }

        function setDataInStorage(hash){
            localStorage.setItem('ad', hash)
        }
        function getDataInStorage(){
           return  localStorage.getItem('ad')
        }
        onMounted(() => {
            getLastService();
        })
        return {
            t,
            showOffer,
            closeAndRedirectToOffer,
            closeOffer
        }
    }
})
</script>

<style scoped>

.button {
    background-color: transparent;
    border: none;
}

.strong {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #278077, #c8c8c8, #278077);
    letter-spacing: 3px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 7s linear infinite;
    position: relative;
    cursor: pointer;
}
#ad-alert {
    text-align: center;
}
@keyframes shine {
    0% {
        background-position-x: -500%;
    }
    100% {
        background-position-x: 500%;
    }
}
</style>
