<template>
    <div class="row-post mt-5 mb-5 justify-content-center">
        <div class="col-12">
            <p class="text-center">{{ t('share') }} `</p>
        </div>
        <div class="col-9 col-sm-6 col-md-4">
            <div class="row justify-content-around">
                <a v-if="facebook" :href="facebookL" target="_blank" class="social-icon si-dark si-colored si-facebook mb-0 social-icon-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                </a>
                <a v-if="email" target="_blank" :href="emailL" class="social-icon si-dark si-colored si-email mb-0 social-icon-email">
                    <i class="icon-email"></i>
                    <i class="icon-email"></i>
                </a>
                <a v-if="twitter" target="_blank" :href="twitterL" class="social-icon si-dark si-colored si-twitter mb-0 social-icon-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                </a>
                <a v-if="linkedin" target="_blank" :href="linkedinL" class="social-icon si-dark si-colored si-linkedin mb-0 social-icon-linkedin">
                    <i class="icon-linkedin"></i>
                    <i class="icon-linkedin"></i>
                </a>
                <a v-if="pinterest" target="_blank" :href="pinterestL" class="social-icon si-dark si-colored si-pinterest mb-0 social-icon-pinterest">
                    <i class="icon-pinterest"></i>
                    <i class="icon-pinterest"></i>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
import {defineComponent, ref} from "vue";
import {useI18n} from "vue-i18n";

export default defineComponent({
    name: "SocialShare",
    props: {
        shareLink: {
          type: String,
          required: true,
        },
        email: {
            type: Boolean,
            required: false,
            default: false
        },
        facebook: {
            type: Boolean,
            required: false,
            default: false,
        },
        pinterest: {
            type: Boolean,
            required: false,
            default: false
        },
        linkedin: {
            type: Boolean,
            required: false,
            default: false
        }
        ,
        twitter: {
            type: Boolean,
            required: false,
            default: false,
        }
    },
    setup(props) {
        const {t} = useI18n();
        const emailL = ref('mailto:?subject=GenesisMC&body=' + props.shareLink);
        const facebookL = ref('https://www.facebook.com/sharer/sharer.php?u=' + props.shareLink);
        const pinterestL = ref('https://www.pinterest.com/pin/create/button/?url=' + props.shareLink);
        const linkedinL = ref('https://www.linkedin.com/sharing/share-offsite/?url=' + props.shareLink);
        const twitterL = ref('https://twitter.com/share?url=' + props.shareLink);
        return {
            t,
            emailL,
            facebookL,
            pinterestL,
            linkedinL,
            twitterL,
        }
    }
})
</script>

<style scoped>
.row-post {
    display: flex;
    flex-wrap: wrap;
}

.social-icon-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social-icon {
    border: unset;
    margin: 8px 5px 5px 0;
}
</style>
