<template>
    <div id="top-bar">
        <div class="container clearfix">
            <div class="row justify-content-between">
                <div class="col-12 col-md-auto d-none d-md-flex">
                    <div class="top-links">
                        <ul class="top-links-container">
                            <li class="top-links-item">
                                <router-link :to="{name: 'contacts'}"><i class="icon-time"></i> {{ t('timings') }}
                                </router-link>
                            </li>
                            <li class="top-links-item">
                                <a id="icon-phone3" :href="contacts?'tel:'+ contacts.phone: null"><i class="icon-phone3"></i> {{contacts?contacts.phone: null}}</a>
                                <a id="icon-phone2" :href="contacts?'tel:'+ contacts.mobile: null"><i class="icon-phone2"></i> {{contacts?contacts.mobile: null}}</a>
                            </li>
                            <li class="top-links-item"><a :href="contacts?'mailto:'+ contacts.email: null" class="nott"><i class="icon-envelope2"></i>
                                {{contacts?contacts.email: null}}</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-12 col-md-auto">

                    <div class="top-links">
                        <ul class="top-links-container">
                            <li class="top-links-item"><a href="#">{{ preferredLanguage }}<i class="icon-angle-down"></i></a>
                                <ul class="top-links-sub-menu">
                                    <li class="top-links-item" v-for="(lang , index) in languagesList" :key="index"><a :href="lang.value" @click="changeLanguage($event,lang.value)"><img :src="lang.href.default"
                                                                                :alt="lang.name"> {{lang.name}}</a></li>
                                </ul>
                            </li>
                            <li class="top-links-item"><router-link :to="{name: 'appointment'}"
                                                          class="backgroundColorFirst text-white">{{t('bookAppointment')}}</router-link></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import {defineComponent, computed, onMounted, ref} from "vue";
import {useI18n} from "vue-i18n";
import {useStore} from "vuex";
import { list } from "../../constants/languages";

export default defineComponent({
    name: "TopBar",
    setup() {
        const {t,locale} = useI18n();
        const store = useStore();
        const contacts = computed(() => store.getters['contact/getContactState']);
        const languagesList = ref(list);
        const preferredLanguage = ref(languagesList.value[locale.value].name);
        function changeLanguage(e, lang){
            e.preventDefault();
            localStorage.setItem('language',lang);
            window.location.reload()
        }
        function changeDocumentLang(){
            document.documentElement.lang = locale.value;
        }
        function getContactData(){
            store.dispatch('contact/ContactStateA');
        }
        onMounted(() => {
            changeDocumentLang();
            getContactData();
        })
        return {
            t,
            contacts,
            languagesList,
            preferredLanguage,
            changeLanguage,
        }
    }
});
</script>

<style scoped>
#top-bar {
    z-index: 10000!important;
}
#icon-phone3 {
    padding-top: 6px!important;
    padding-bottom: 0!important;
}
#icon-phone2 {
    padding-bottom: 6px!important;
    padding-top: 0!important;
}
</style>
