<template>
    <section id="content" class="video-wrapper" v-if="videoData">
        <video-background
            :src="videoData.video"
            style="height: 100vh"
        >
        </video-background>
        <div class="video-text-wrapper">
            <div class="row m-0 justify-content-start">
                <div class="col-10 col-md-7" data-aos="fade-top">
                    <h1 class="text-left text-white mt-5 mb-2 ml-4 heading-video btn-shine">{{ videoData[getPreferredLanguageFiled('title')] }}</h1>
                    <p class="text-left backgroundColorSecondText mt-md-6 p-4 pl-6 pr-6">{{ videoData[getPreferredLanguageFiled('desc')] }}</p>
                </div>
            </div>
            <div class="circle">
            </div>
            <div class="circle2">
            </div>
            <span class="scroll-btn">
            <a href="#" @click="toDown($event)">
                <span class="mouse"><span></span></span>
             </a>
            </span>
        </div>
    </section>
</template>

<script>
import {defineComponent, ref, onMounted} from "vue"
import VideoBackground from 'vue-responsive-video-background-player'
import endpoint from "../../request/endpoints";
import getPreferredLanguageFiled from "../../helpers/getPreferredLanguageFiled";
import {assetUrl} from "../../constants/project";
// import metaTags from "../../helpers/metaTags";
export default defineComponent({
    name: "VideoSlider",
    components: {
        VideoBackground,
    },
    setup() {
        const videoData = ref(null)
        // const fullUrl =  ref(window.location.origin + '/images/logo.png');
        // const img = ref('/logo/')

        function toDown(e) {
            e.preventDefault();
            const contentHeight = document.querySelector('#content').offsetHeight;
            window.scroll({top: contentHeight, left: 0, behavior: 'smooth'})
        }

        function getWelcomeVideo() {
            __request.get(endpoint.WELCOME_VIDEO).then(res => {
                const {data} = res
                if (Object.keys(data).length) {
                    data.video = assetUrl + data.video
                    videoData.value = data;
                    // metaTags(fullUrl.value,data[getPreferredLanguageFiled('desc')],data[getPreferredLanguageFiled('title')], img.value);
                }
            })
        }
        onMounted(() => {
            getWelcomeVideo();
        })
        return {
            toDown,
            videoData,
            getPreferredLanguageFiled,
        }
    }
})
</script>

<style scoped>

.btn-shine {
    background: linear-gradient(to right, #4d4d4d 0, #fff 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    white-space: nowrap;
}
.backgroundColorSecondText {
    color: #ffffff;
    background-color: #27807760;
}
@-moz-keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 180px;
    }
    100% {
        background-position: 180px;
    }
}

@-webkit-keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 180px;
    }
    100% {
        background-position: 180px;
    }
}

@-o-keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 180px;
    }
    100% {
        background-position: 180px;
    }
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 180px;
    }
    100% {
        background-position: 180px;
    }
}


.video-wrapper {
    position: relative;
}

.video-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
}

.heading-video {
    font-size: 28px;
    font-weight: 900;
    border-bottom: 3px solid #278077;
    width: max-content;
    padding: 12px;
    background: -webkit-linear-gradient(#278077, #f3f3f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circle {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 120px;
    left: -25px;
}

.circle2 {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 180px;
    left: 125px;
    background: transparent;
    border-radius: 50%;
    border: 2px dashed #ffffff80;
    -webkit-animation-name: RotateZ;
    -webkit-animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: RotateZ;
    -moz-animation-duration: 16s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: RotateZ;
    -ms-animation-duration: 16s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

.circle {
    background: transparent;
    border-radius: 50%;
    border: 2px dashed #ffffff80;
    -webkit-animation-name: Rotate;
    -webkit-animation-duration: 16s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: Rotate;
    -moz-animation-duration: 16s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: Rotate;
    -ms-animation-duration: 16s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

@-webkit-keyframes Rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes Rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes Rotate {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes RotateZ {
    from {
        -webkit-transform: rotate(360deg);

    }
    to {
        -webkit-transform: rotate(0deg);

    }
}

@-moz-keyframes RotateZ {
    from {
        -moz-transform: rotate(360deg);

    }
    to {
        -moz-transform: rotate(0deg);
    }
}

@-ms-keyframes RotateZ {
    from {
        -ms-transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
    }
}

@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -15%;
}

.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: #ffffff;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 65px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 23px;
}

.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}
@media (max-width: 768px) {
    .heading-video, .circle , .circle2{
        display: none;
    }
}
</style>
